alabaster==0.7.12
appdirs==1.4.0
Babel==2.8.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
cachelib==0.1
certifi==2020.6.20
chardet==3.0.4
click==6.7
cs50==5.0.4
cycler==0.10.0
Django==1.11.29
django-admin-cli==0.1.1
django-instagram==0.3.1
dnspython==1.16.0
docutils==0.16
enum34==1.1.10
eventlet==0.25.2
Flask==1.1.2
Flask-Session==0.3.2
Flask-SocketIO==1.0b1
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
gunicorn==19.10.0
imagesize==1.2.0
IMDbPY @ git+https://github.com/alberanid/imdbpy@a989d1fdccf3d4f9e6d6f739eb5aae4760e5da1f
itsdangerous==0.24
Jinja2==2.11.2
kiwisolver==1.1.0
lxml==4.5.1
MarkupSafe==0.23
matplotlib==2.2.5
monotonic==1.5
numpy==1.16.6
packaging==16.8
pexpect==4.8.0
Pillow==6.2.2
psycopg2-binary==2.8.5
ptyprocess==0.6.0
Pygments==2.5.2
pyparsing==2.1.10
python-dateutil==2.6.0
python-engineio==3.13.0
python-socketio==4.6.0
pytz==2016.10
requests==2.24.0
Rtree==0.8.3
selenium==3.141.0
six==1.10.0
snowballstemmer==2.0.0
sockets==1.0.0
sorl-thumbnail==12.5.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.17
sqlparse==0.3.1
submit50==2.4.13
subprocess32==3.5.4
termcolor==1.1.0
typing==3.7.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
Werkzeug==1.0.1
zope.event==4.4
zope.interface==5.1.0
